{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}
    Codex Administration
{% endblock title %}
{% block extrastyle %}
    <link href="{% static 'admin/css/dark.css' %}"
          type="text/css"
          media="(prefers-color-scheme: dark)"
          rel="stylesheet"/>
    <link href="{% static 'admin/css/codex-admin-dark.css' %}"
          type="text/css"
          rel="stylesheet"/>
    <link href="{% static 'admin/css/codex-admin.css' %}"
          rel="stylesheet"
          type="text/css"/>
    {% block extrapagestyle %}
    {% endblock extrapagestyle %}
{% endblock extrastyle %}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ _('Codex Administration') }}</a>
    </h1>
{% endblock branding %}
{% block pretitle %}
    <div id="deprecatedWarning">
        The Django Admin panel is deprecated and will eventually be removed.
        <br/>
        Please use <a href="{% url 'app:start' %}admin" target="_blank">the new Admin Panel</a>
    </div>
{% endblock pretitle %}
