__pycache__
.*cache
.circleci
.coverage*
.docker-token
.DS_Store
.env*
.eslintcache
.git
.mypy_cache
.picopt_treestamps.yaml
.pypi-token
.pytest_cache
.ropeproject
.venv*
*.egg-info
*.py[co]
*~
*Dockerfile
cache
codex/static_build
codex/static_root
comics
config
dev*
docker-compose*
docker*
MANIFEST
mock_comics
monkeytype.sqlite3
node_modules
test-results
TODO.md
update-builder-requirement.sh
version.sh
!dist
!docker/debian.sources
