*.egg-info
*.py[co]
*Dockerfile
*~
.DS_Store
.circleci
.coverage*
.docker-token
.env*
.eslintcache
.git
.mypy_cache
.picopt_treestamps.yaml
.pypi-token
.pytest_cache
.ropeproject
.venv*
MANIFEST
NEWS
TODO.md
__pycache__
cache
codex/static_build
codex/static_root
comics
config
dev*
!dist
docker*
!docker/debian.sources
docker-compose*
mock_comics
monkeytype.sqlite3
node_modules
strange.jpg
test-results
update-builder-requirement.sh
version.sh
