!dist
!docker/debian.sources
*.egg-info
*.py[co]
*Dockerfile
*~
.*cache
.DS_Store
.circleci
.claude
.coverage*
.docker-token
.env*
.eslintcache
.ghrc-token
.git
.mypy_cache
.picopt_timestamp
.picopt_treestamps.yaml
.pypi-token
.pytest_cache
.ropeproject
.ruff_cache
.venv*
MANIFEST
NEWS
TODO.md
__pycache__
cache
codex/static
codex/static_build
comics
config
dev*
docker*
docker-compose*
mock_comics
monkeytype.sqlite3
node_modules
test-results
update-builder-requirement.sh
version.sh
