!.circleci
!cache/packages
!cache/packages/README.md
**/__pycache__
*test-results*
*~
.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.venv*
cache/*
cache/packages/*
codex/_vendor/
codex/static_build
codex/static_root
codex/templates/**/*.html // Handled by djlint
codex/templates/*.html // Handled by djlint
codex/templates/pwa/serviceworker-register.js // removes eslint-disable that it then complains about
comics
config
dist
frontend
node_modules
package-lock.json
test-results
typings
