__pycache__/
__pypackages__/
__snapshots__
.*cache
.coverage
.coverage.*
.dmypy.json
.docker-token
.DS_Store
.eggs/
.env
.env-*
.env.package
.env.pushover
.eslintcache
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.npm
.pypi-token
.pypirc
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv*
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*~
*$py.class
build/
celerybeat-schedule
celerybeat.pid
codex/static_build/
codex/static_root/
comics
config
coverage.xml
develop-eggs/
dist/
dmypy.json
docs/_build/
docs/site
downloads/
eggs/
env.bak/
env/
ENV/
frontend/components.d.ts
frontend/coverage
frontend/src/choices/
htmlcov/
instance/
jspm_packages/
lib/
lib64/
MANIFEST
monkeytype.sqlite3
node_modules
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
test-results
TODO.md
