__pycache__/
__pypackages__/
__snapshots__
.*cache
.coverage
.coverage.*
.coverage*
.dmypy.json
.docker-token
.DS_Store
.eggs/
.env
.env-*
.env.package
.env.pushover
.eslintcache
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.npm
.pypi-token
.pypirc
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.uv-publish-env
.venv*
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*~
*$py.class
build
build/
celerybeat-schedule
celerybeat.pid
codex/static_build/
codex/static/
comics
config
coverage.xml
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
docs/site
downloads/
eggs/
env.bak/
env/
ENV/
frontend/components.d.ts
frontend/coverage
frontend/src/choices/
htmlcov/
instance/
ipython_config.py
jspm_packages/
lib/
lib64/
local_settings.py
MANIFEST
monkeytype.sqlite3
node_modules
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
target/
test-results
TODO.md
var/
venv.bak/
venv/
wheels/
