__pycache__
.*cache
.circleci
.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv*
/config
/node_modules
/site
/test-results
cache
codex/_vendor
codex/static_build
codex/static_root
codex/static_src/img/*.svg
codex/templates/**/*.html
codex/templates/**/*.xml
codex/templates/pwa/manifest.webmanifest
comics
dist
frontend
package-lock.json
uv.lock
webpack-stats.json
