services:
  codex-base:
    build:
      context: .
      dockerfile: base.Dockerfile
      args:
        CODEX_BASE_VERSION:
    image: docker.io/ajslater/codex-base
  codex-builder-base:
    build:
      context: .
      dockerfile: builder-base.Dockerfile
      args:
        CODEX_BASE_VERSION:
        CODEX_BUILDER_BASE_VERSION:
    image: docker.io/ajslater/codex-builder-base
  codex-dist-builder: &codex-dist-builder
    build:
      context: .
      dockerfile: dist-builder.Dockerfile
      args:
        CODEX_BUILDER_BASE_VERSION:
        CODEX_DIST_BUILDER_VERSION:
    image: docker.io/ajslater/codex-dist-builder:$CODEX_DIST_BUILDER_VERSION
    container_name: codex-dist-builder
  codex-backend-lint:
    <<: *codex-dist-builder
    container_name: codex-backend-lint
    command: ./lint-backend.sh
  codex-frontend-lint:
    <<: *codex-dist-builder
    container_name: codex-frontent-lint
    command: ./frontend/lint.sh
  codex-frontend-test:
    <<: *codex-dist-builder
    container_name: codex-frontend-test
    command: ./frontend/test.sh
    volumes:
      - ./test-results/:/app/test-results/
  codex-frontend-build:
    <<: *codex-dist-builder
    container_name: codex-frontend-build
    volumes:
      - ./codex/static_build:/app/codex/static_build
    command: ./frontend/build.sh
  codex-backend-test:
    <<: *codex-dist-builder
    container_name: codex-backend-test
    volumes:
      - ./codex/static_build:/app/codex/static_build:ro
      #- ./codex/static_root:/app/codex/static_root
      - ./test-results/:/app/test-results/
    command: ./test-backend.sh
  codex-build-dist:
    <<: *codex-dist-builder
    container_name: codex-build-dist
    volumes:
      - ./codex/static_build:/app/codex/static_build:ro
      - ./codex/static_root:/app/codex/static_root
      - ./dist/:/app/dist/
    command: ./build-dist.sh
  codex-arch:
    build:
      context: .
      args:
        CODEX_BUILDER_BASE_VERSION:
        CODEX_BASE_VERSION:
        CODEX_BUILDER_FINAL_VERSION:
        CODEX_WHEEL:
        PKG_VERSION:
    image: docker.io/ajslater/codex-arch
    container_name: codex-arch
  codex:
    image: docker.io/ajslater/codex
    container_name: codex
    ports:
      - "9810:9810"
    volumes:
      - ./config:/config
      - ./comics:/comics:ro
  codex-dev:
    build:
      context: .
      dockerfile: dev.Dockerfile
    image: codex-dev
    container_name: codex-dev
    ports:
      - "9810:9810"
    volumes:
      - .:/app
    command: sleep 1000000
version: "3.8"
