services:
  codex-dist-builder: &codex-dist-builder
    image: docker.io/ajslater/codex-dist-builder:$CODEX_DIST_BUILDER_VERSION
  codex-backend-lint:
    <<: *codex-dist-builder
    container_name: codex-backend-lint
    command: make lint-backend
  codex-frontend-lint:
    <<: *codex-dist-builder
    container_name: codex-frontend-lint
    command: make lint-frontend
  codex-frontend-test:
    <<: *codex-dist-builder
    container_name: codex-frontend-test
    command: make test-frontend
    volumes:
      - ./frontend/src/choices:/app/frontend/src/choices
      - ./test-results/:/app/test-results/
  codex-frontend-build:
    <<: *codex-dist-builder
    container_name: codex-frontend-build
    volumes:
      - ./frontend/src/choices:/app/frontend/src/choices:ro
      - ./codex/static_build:/app/codex/static_build
    command: make build-frontend -o build-choices
  codex-backend-test:
    <<: *codex-dist-builder
    container_name: codex-backend-test
    volumes:
      - ./codex/static_build:/app/codex/static_build:ro
      - ./codex/static_root:/app/codex/static_root
    command: make test-backend -o build-frontend
  codex-build-dist:
    <<: *codex-dist-builder
    container_name: codex-build-dist
    volumes:
      - ./codex/static_root:/app/codex/static_root:ro
      - ./dist/:/app/dist/
    command: make build-backend -o collectstatic
  codex:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: docker.io/ajslater/codex
    container_name: codex
    ports:
      - "9810:9810"
    volumes:
      - ./config:/config
      - ./comics:/comics:ro
