[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = ["poetry.core.masonry.api"]

[tool.poetry]
name = "codex"
version = "0.14.0"
description = "A comic archive web server."
license = "GPL-2.0-only"
authors = ["AJ Slater <aj@slater.net>"]
readme = "README.md"
homepage = "https://github.com/ajslater/codex"
repository = "https://github.com/ajslater/codex"
documentation = "https://github.com/ajslater/codex"
keywords = ["comic", "cbz", "cbr", "cbt", "pdf"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Environment :: Web Environment",
  "Framework :: Django :: 4.0",
  "Intended Audience :: End Users/Desktop",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Programming Language :: JavaScript",
  "Programming Language :: Python :: 3 :: Only",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Multimedia :: Graphics :: Viewers",
]
packages = [{ include = "codex" }, { include = "tests", format = "sdist" }]
exclude = [
  "*/**/*~",
  "codex/img/*.svg",
  "codex/static_src/*",
  "codex/static_build/*"
]
include = ["codex/static_root/**/*", "vendor/django_haystack"]

[tool.poetry.dependencies]
python = "^3.9"
ansicolors = "^1.1"
comicbox = "^0.5.4"
django = "^4.1"
djangorestframework = "^3.11"
djangorestframework-camel-case = "^1.3.0"
django-cors-headers = "^3.2"
django-dark = "^0.1"
django-haystack = "^3.2.1"
django-rest-registration = "^0.7.2"
django-vite = "^2.0.2"
drf-spectacular = "^0.24.0"
filelock = "^3.4.2"
filetype = "^1.0.12"
fnvhash = "^0.1"
humanfriendly = "^10.0"
humanize = "^4.0.0"
hypercorn = { extras = ["h3"], version = "^0.14.1" }
pdfrw = "^0.4"
pdf2image = "^1.16.0"
pycountry = "^22.1"
python-dateutil = "^2.8.2"
requests = "^2.24"
tzlocal = "^4.1"
watchdog = "^2.0"
websocket_client = "^1.2"
whitenoise = { extras = ["brotli"], version = "^6.0" }
xapian-bindings = "^0.1.0"
xapian-haystack = "^3.0.1"
Pillow = "^9.1.0"

[tool.poetry.group.dev.dependencies]
nplusone = "^1.0.0"
pushover-simple-cli = "^1.1.2"
pynvim = "^0.4"

[tool.poetry.group.test.dependencies]
coverage = { extras = ["toml"], version = "^6.0" }
pytest-asyncio = "^0.19"
pytest-cov = "^4.0"
pytest-django = "^4.1"
pytest-gitignore = "^1.3"

[tool.poetry.group.lint.dependencies]
bandit = "^1.7.4"
codespell = "^2.1.0"
djangorestframework-types = "^0.8.0"
django-types = "^0.16.0"
djlint = "^1.2.1"
flake8-black = "^0.3.2"
flake8-bugbear = "^22.1"
flake8-docstrings = "^1.5"
flake8-eradicate = "^1.3.0"
isort = "^5.10.1"
pep8-naming = "^0.13"
pyright = "^1.1.232"
radon = "^5.1"
types-python-dateutil = "^2.8.19"
vulture = "^2.3"

[tool.poetry.scripts]
codex = "codex.run:main"

[tool.poetry.urls]
"Docker Image" = "https://hub.docker.com/r/ajslater/codex"
"Issues" = "https://github.com/ajslater/codex/issues"

[tool.black]
exclude = "/(.git|.mypy_cache|.pytest_cache|.venv|__pycache__|cache|codex/_vendor/haystack|codex/static_build|codex/static_root|comics|dist|frontend|node_modules|test-results|typings)/"

[tool.bandit]
# most options must be on the command line
exclude = [
  ".venv",
  "node_modules",
  "**/__pycache__",
  "_vendor/haystack",
  "static_build",
  "static_root",
]

[tool.djlint]
ignore = "H030,H031"

[tool.isort]
profile = "black"
atomic = true
lines_after_imports = 2
lines_between_types = 1
multi_line_output = 3
skip = ".git,.mypy_cache,.pytest_cache,.venv,__pycache__,cache,codex/_vendor/haystack,codex/static_build,codex/static_root,comics,config,dist,frontend,node_modules,test-results,typings"
color_output = true

[tool.pyright]
exclude = [
  "**/__pycache__",
  "**/node_modules",
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".venv",
  "cache",
  "codex/_vendor/haystack",
  "codex/static_build",
  "codex/static_root",
  "comics",
  "config",
  "dist",
  "frontend",
  "package-lock.json",
  "poetry.lock",
  "test-results",
  "typings",
]
useLibraryCodeForTypes = true
reportMissingImports = true
reportImportCycles = true

[tool.vulture]
exclude = [
  ".git/",
  ".mypy_cache/",
  ".pytest_cache/",
  ".venv/",
  "*__pycache__*",
  "cache/",
  "codex/_vendor/haystack/",
  "codex/static_build/",
  "codex/static_root/",
  "frontend/",
  "comics/",
  "dist/",
  "node_modules/",
  "test_results/",
  "typings/",
]
min_confidence = 61
sort_by_size = true

[tool.pytest.ini_options]
junit_family = "xunit2"
DJANGO_SETTINGS_MODULE = "codex.settings.settings"
asyncio_mode = "strict"
# --black
addopts = """
    --junit-xml=test-results/pytest/results.xml
    -ra
    --strict-config
    --strict-markers
    --cov
    --cov-append
    --cov-report=html
    --cov-report=term
    --ignore=.git
    --ignore=cache
    --ignore=codex/_vendor/haystack
    --ignore=frontend
    --ignore=typings
"""

[tool.coverage.html]
directory = "test-results/coverage"

[tool.coverage.run]
source = ["codex"]
branch = true
concurrency = ["multiprocessing"]
omit = [
  ".git/*",
  ".mypy_cache/*",
  ".pytest_cache/*",
  ".venv/*",
  "*__pycache__*",
  "cache/*",
  "codex/_vendor/haystack/*",
  "codex/static_build/*",
  "codex/static_root/*",
  "comics/*",
  "dist/*",
  "frontend/*",
  "node_modules/*",
  "test-results/*",
  "typings/*"
]
