[build-system]
requires = ["poetry>=1.0"]
build-backend = ["poetry.masonry.api"]

[tool.poetry]
name = "codex"
version = "0.5.9"
description = "A comic archive web server."
license = "GPL-2.0-only"
authors = ["AJ Slater <aj@slater.net>"]
readme = "README.md"
homepage = "https://github.com/ajslater/codex"
documentation = "https://github.com/ajslater/codex"
keywords = ["comic", "cbz", "cbr", "cbt"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Framework :: Django :: 3.1",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Multimedia :: Graphics :: Viewers",
]
packages = [{ include = "codex" }, { include = "tests", format = "sdist" }]
exclude = ["*/**/*~", "codex/static_src/*", "codex/static_build/*"]

# include codex/static_root doesn't work due to gitignore. Hack around it
#   in the Dockerfile
[tool.poetry.dependencies]
python = "^3.7"
bidict = "^0.21.0"
comicbox = "^0.1.3"
coloredlogs = "^14.0"
django = "^3.1"
djangorestframework = "^3.11"
django-cors-headers = "^3.2"
fnvhash = "^0.1"
hypercorn = { extras = ["h3"], version = "^0.10.1" }
Pillow = "^7.0"
pycountry = "^20.7.3"
simplejson = "^3.17"
stringcase = "^1.2.0"
regex = "^2020.4.4"
watchdog = "^0.10"
whitenoise = { extras = ["brotli"], version = "5.1.0" }
websocket_client = "^0.57.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
coverage = { extras = ["toml"], version = "^5.0" }
django-livereload-server = "^0.3"
django-debug-toolbar = "^2.2"
flake8 = "^3.7"
flake8-black = "^0.2.0"
flake8-bugbear = "^20.1"
jedi = "^0.17.1"
monkeytype = "^20"
mypy = "^0.782"
neovim = "^0.3.1"
pep8-naming = "^0.11.1"
pytest = "^6.0"
pytest-black = "^0.3.10"
pytest-cov = "^2.8"
pytest-django = "^3.9.0"
pytest-flake8 = "^1.0"
pytest-isort = "^1.1"
pytest-monkeytype = "^1.0"
radon = "^4.1"
vulture = "^2.0"

[tool.poetry.scripts]
codex = "codex.run:main"

[tool.coverage.run]
source = ["codex"]
branch = true
concurrency = ["multiprocessing"]
omit = ["frontend"]

[tool.coverage.html]
directory = "test-results/coverage"

[tool.black]
exclude = "/(.git|__pycache__|.pytest_cache|frontend)/"

[tool.pytest.ini_options]
norecursedirs = ["frontend"]
junit_family = "xunit2"
DJANGO_SETTINGS_MODULE = "codex.settings"
addopts = """
    --junitxml=test-results/pytest/results.xml
    -ra
    --strict
    --black
    --cov
    --cov-append
    --cov-report=html
    --cov-report=term
    --flake8
    --isort
"""
#    --mypy
