a,
a > .v-icon {
  color: rgb(var(--v-theme-primary)) !important;
}
a:hover,
a:hover > .v-icon {
  color: rgb(var(--v-theme-text-primary)) !important;
}
a.v-btn > .v-icon {
  color: rgb(var(--v-theme-text-primary));
}
