{% extends "admin/change_list.html" %}

{% block footer %}
<div id="footer">
<h1>Admin Flags</h1>
Administration Flags that effect the operation of the entire site.
<h2>Enable Auto Update</h2>
If enabled, codex will attempt to update the codex python package once a day and restart the server if an update occurred. <strong>Not advisable if running from Docker</strong> as running containers aren't meant to hold state and will be rebuilt if you update the image. Look into <a href="https://containrrr.dev/watchtower/">Watchtower</a> for automating Docker updates.
<h2>Enable Non Users</h2>
By default all Codex features, including bookmarking, are available to users who are not logged in. You may disable this feature and Codex will hide its browser and reader and disable its API from anyone who is not logged in as a user.
<h2>Enable Registration</h2>
By default users bookmarks and preferences are saved in an anonymous browser session. Users can create a username and password to save their bookmarks in between browsers. You may disable this feature. Admins may still create users using this Admin Panel.
<h2>Enable Folder View</h2>
By default, codex provides a "Folder View" which mimics the directory hierarchy of the libraries that you've added to Codex. You may disable this feature. The database style browser view is always available.
<h1>Actions</h1>
<h2>Update Codex Now</h2>
Force an update of Codex. If Codex updates to a new version, it will restart.
<h2>Restart Codex Now</h2>
Restart the Codex server..
</div>

{% endblock %}
