{% load static %}
{# Generic Browsers #}
{# <link rel="icon" href="{% static 'img/favicon.svg' %}" sizes="any" type="image/svg+xml" /> #}
<link rel="icon"
      href="{% static 'img/favicon-32.webp' %}"
      sizes="32x32"
      type="image/webp"/>
<link rel="icon"
      href="{% static 'img/favicon-128.webp' %}"
      sizes="128x128"
      type="image/webp"/>
<link rel="icon"
      href="{% static 'img/favicon-180.webp' %}"
      sizes="180x180"
      type="image/webp"/>
<link rel="icon"
      href="{% static 'img/favicon-192.webp' %}"
      sizes="192x192"
      type="image/webp"/>
<link rel="icon"
      href="{% static 'img/favicon-512.webp' %}"
      sizes="512x512"
      type="image/webp"/>
{# Safari Tab <link rel="mask-icon" href="{% static 'img/favicon.svg' %}" /> #}
