{% load static %}
<link rel="icon"
      href="{% static 'img/favicon.svg' %}"
      sizes="any"
      type="image/svg+xml"/>
{# Safari doesn't support svg #}
<link rel="icon"
      href="{% static 'img/favicon-32.webp' %}"
      sizes="32x32"
      type="image/webp"/>
<link rel="apple-touch-icon"
      href="{% static 'img/favicon-180.webp' %}"
      sizes="180x180"
      type="image/webp"/>
<link rel="apple-touch-startup-image"
      href="{% static 'img/favicon-512.webp' %}"
      sizes="512x512"
      type="image/webp"/>
{# Backup raster for minor browsers #}
<link rel="icon"
      href="{% static 'img/favicon-512.webp' %}"
      sizes="512x512"
      type="image/webp"/>
