executors:
  amd64-large-executor:
    machine:
      image: ubuntu-2004:current
      resource_class: large
  amd64-medium-executor:
    machine:
      image: ubuntu-2004:current
      resource_class: medium
  arm64-medium-executor:
    machine:
      image: ubuntu-2004:current
      resource_class: arm.medium
jobs:
  build-base-amd64: &build-base
    executor: amd64-medium-executor
    steps:
      - checkout
      - run:
          command: ./docker/docker-init.sh
          name: Login to Docker Hub, Install binfmt Platform, Create the buildx Builder
      - run:
          command: ./docker/docker-env.sh
          name: Generate image versions
      - run:
          command: ./docker/docker-build-image.sh codex-base
          name: Build Base Image
      - run:
          command: ./docker/docker-build-image.sh codex-builder-base
          name: Build Builder Base Image
      - persist_to_workspace:
          paths:
            - ./.env-*
          root: .
  build-base-arm64:
    <<: *build-base
    executor: arm64-medium-executor
  build-dist:
    executor: amd64-large-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          command: ./docker/docker-init.sh
          name: Login to Docker Hub, Install binfmt platform & Create the buildx Builder
      - run:
          command: ./docker/docker-build-image.sh codex-dist-builder
          name: Build Distribution Builder Image
      - run:
          command: ./docker/docker-compose-exit.sh codex-backend-lint
          name: "Backend: Lint"
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-lint
          name: "Frontend: Lint"
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-test
          name: "Frontend: Test"
      - store_test_results:
          path: test-results/jest
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-build
          name: "Frontend: Build"
      - run:
          command: ./docker/docker-compose-exit.sh codex-backend-test
          name: "Backend: Test"
      - store_test_results:
          path: test-results/pytest
      - store_artifacts:
          path: test-results/coverage
      - store_artifacts:
          path: frontend/coverage
      - run:
          command: ./docker/docker-compose-exit.sh codex-build-dist
          name: Build Distribution
      - persist_to_workspace:
          paths:
            - ./dist
          root: .
  build-amd64: &build
    executor: amd64-medium-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          command: ./docker/docker-init.sh
          name: Login to Docker Hub, Install binfmt platform & Create the buildx Builder
      - run:
          command: ./docker/docker-build-image.sh codex -arch
          name: Build Codex Runnable Image
  build-arm64:
    <<: *build
    executor: arm64-medium-executor
  deploy:
    executor: amd64-medium-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          command: ./docker/docker-install-api-deps.sh
          name: Install docker API dependencies
      - run:
          command: ./docker/docker-login.sh
          name: Login to Docker Hub
      - run:
          command: ./docker/docker-create-multiarch-codex.sh
          name: Create multi-arch images
      - run:
          command: ./pypi-deploy.sh
          name: Publish Codex Package to PyPi
version: 2.1
workflows:
  main:
    jobs:
      - build-base-amd64: &filters-all
          filters:
            branches:
              only:
                - develop
                - pre-release
                - main
                - /.*-ci/
      - build-base-arm64: &filters-release
          filters:
            branches:
              only:
                - pre-release
                - main
      - build-dist:
          <<: *filters-all
          requires:
            - build-base-amd64
      - build-amd64:
          <<: *filters-release
          requires:
            - build-base-amd64
            - build-dist
      - build-arm64:
          <<: *filters-release
          requires:
            - build-base-arm64
            - build-dist
      - deploy:
          <<: *filters-release
          requires:
            - build-amd64
            - build-arm64
  version: 2.1
