executors:
  amd64-medium-executor:
    machine:
      image: ubuntu-2404:current
      resource_class: medium
  amd64-small-executor:
    machine:
      image: ubuntu-2404:current
      resource_class: small
  arm64-medium-executor:
    machine:
      image: ubuntu-2404:current
      resource_class: arm.medium
orbs:
  discord: antonioned/discord@0.1.0
jobs:
  build-base-amd64: &build-base
    executor: amd64-medium-executor
    steps:
      - checkout:
          depth: 1
      - run:
          command: . ./docker/machine-init.sh base
          name: Update packages & docker, produce env file.
      - run:
          command: ./docker/docker-build-image.sh codex-base clean
          name: Build Base Image
      - run:
          command: ./docker/docker-build-image.sh codex-builder-base clean
          name: Build Builder Base Image
      - persist_to_workspace:
          paths:
            - ./.env-*
            - ./.venv
          root: .
      - discord/status:
          fail_only: true
          webhook: "${DISCORD_STATUS_WEBHOOK}"
          failure_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** failed."
  build-base-arm64:
    <<: *build-base
    executor: arm64-medium-executor
  test-and-build-dist-amd64:
    executor: amd64-medium-executor
    steps:
      - checkout:
          depth: 1
      - attach_workspace:
          at: .
      - run:
          command: ./docker/machine-init.sh dist-builder
          name: Update packages & docker, produce env file.
      - run:
          command: ./docker/docker-build-image.sh codex-dist-builder pull
          name: Build Builder Base Image
      - run:
          command: ./docker/docker-compose-exit.sh codex-backend-lint
          name: "Backend: Lint"
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-lint
          name: "Frontend: Lint"
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-test
          name: "Frontend: Test"
      - store_test_results:
          path: test-results/jest
      - store_artifacts:
          path: frontend/coverage
      - run:
          command: ./docker/docker-compose-exit.sh codex-frontend-build
          name: "Frontend: Build"
      - run:
          command: ./docker/docker-compose-exit.sh codex-backend-test
          name: "Backend: Test"
      - store_test_results:
          path: test-results/pytest
      - store_artifacts:
          path: test-results/coverage
      - run:
          command: ./docker/docker-compose-exit.sh codex-build-dist
          name: Build Distribution
      - persist_to_workspace:
          paths:
            - ./dist
          root: .
      - discord/status:
          fail_only: false
          webhook: "${DISCORD_STATUS_WEBHOOK}"
          failure_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** failed."
  build-amd64: &build
    executor: amd64-medium-executor
    steps:
      - checkout:
          depth: 1
      - attach_workspace:
          at: .
      - run:
          command: ./docker/machine-init.sh
          name: Update packages & docker, produce env file.
      - run:
          command: ./docker/docker-build-image.sh codex-arch
          name: Build Codex Runnable Image
      - discord/status:
          fail_only: true
          webhook: "${DISCORD_STATUS_WEBHOOK}"
          failure_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** failed."
          success_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** built."
  build-arm64:
    <<: *build
    executor: arm64-medium-executor
  deploy:
    executor: amd64-small-executor
    steps:
      - checkout:
          depth: 1
      - attach_workspace:
          at: .
      - run:
          command: ./docker/machine-init.sh
          name: Update packages & docker, produce env file.
      - run:
          command: ./docker/docker-push.sh
          name: Push multi-arch images to Docker Hub
      - run:
          command: ./docker/python-publish.sh
          name: Publish Codex Package to PyPi
      - discord/status:
          fail_only: false
          webhook: "${DISCORD_STATUS_WEBHOOK}"
          failure_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** failed."
          success_message: "**${CIRCLE_USERNAME}**'s build: **${CIRCLE_JOB}** deployed."
version: 2.1
workflows:
  main:
    jobs:
      - build-base-amd64: &filters-all
          filters:
            branches:
              only:
                - develop
                - pre-release
                - main
                - /.*-ci/
      - build-base-arm64: &filters-release
          filters:
            branches:
              only:
                - pre-release
                - main
                - /.*-ci/
      - test-and-build-dist-amd64:
          <<: *filters-all
          requires:
            - build-base-amd64
      - build-amd64:
          <<: *filters-release
          requires:
            - build-base-amd64
            - test-and-build-dist-amd64
      - build-arm64:
          <<: *filters-release
          requires:
            - build-base-arm64
            - test-and-build-dist-amd64
      - deploy:
          <<: *filters-release
          requires:
            - build-amd64
            - build-arm64
