/* This file only exists for webpack to copy these images */
a {
  background: url("favicon-32.webp");
}
b {
  background: url("favicon-180.webp");
}
c {
  background: url("favicon-512.webp");
}
d {
  background: url("favicon.svg");
}
