{% load static %}
<head>
<style>
.obj { 
   display: inline-block;
   float: left;
   width: 150px;
   height: 250px;
   margin: 20px;
}
.objAnchor{
   display: block:
   height: 250px;
}
.coverImage {
    display: block;
    box-shadow: 4px 4px 8px black;
    margin-bottom: 10px;
}
.progressCover {
    height: 5px;
    background-color: dodgerblue;
}
#pageContent {
    margin-top: 50px;
}
.downloadAnchor > svg {
   fill: blue;
}
.upLink {
   display: block;
}
.date {
   display: block;
   font-size: smaller;
}
#groupTitle {
   font-size: larger;
   font-weight: bold;
   text-align: center;
}
.metadata {
   padding: 10px;
   min-width: 300px;
}
.metadata > section, .metadata > footer {
    display: block;
}
.objNameHeader {
    font-size: smaller;
}
.objName {
    font-size: smaller;
}
.metadataCoverImage {
  float: left;
  padding-right: 1em;
}
.summary {
  display: block;
  clear: both;
  cursor: pointer;
}
.summary > section {
  display: block;
}
.webLink {
  display: block;
}
#pageHeader {
  position:fixed;
  top: 0px;
  left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  z-index: 999;
  background-color: white;
  opacity: 1;
  width: 100%;
}
#browseForm {
    display: inline;
}
#browseForm > * {
    display: inline-block;
}
#filters[open] {
    width: 240px;
}
#filtersDropdown {
    background-color: white;
}
.drop {
    display: block;
    clear: both;
}
#rightForm {
    position: absolute;
    left: 240px;
    width: 100%;
}
#pagination {
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.debug {
    font-size: smaller;
    background-color: pink;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static "codex/css/cssbox.css" %}">
</head>
<header id="pageHeader">

<form id="browseForm" action="" method="POST">
    <details id="filters">
        <summary>Filters</summary>
        <section id="filtersDropdown">
        <table class="drop">
            <tbody>
        {{ forms.bookmark.as_table }}
        {{ forms.decade.as_table }}
        {{ forms.character.as_table }}
            </tbody>
        </table>
    </details>
    <section id="rightForm">
    {{forms.group }}
    {{forms.sort }}
    <input id="filterButton" type="submit" value="Filter" />
    </section>
 {% csrf_token %}
</form>
{% include "codex/toolbar.html" %}
</header>
<main id="pageContent">
  <header id="pageContentHeader">
    <section id="groupTitle">{{ browse_title }}</section>
{% if browse_parent_group %}
<a class="upLink" href="{% url 'browse' group=browse_parent_group pk=browse_parent_id %}">Up</a>
{% elif folder_up_pk is not None %}
    <a class="upLink" href="{% url 'folder' pk=folder_up_pk %}">Up</a>
{% endif %}
  </header>
  {% for obj in page_obj %}
    <article class="obj">
    {% if False %}
      <section class="debug">{{obj.pages_read}}/{{obj.page_count}} = {{obj.progress|floatformat:"2"}}</section>
      <section class="debug">{{obj.sort_name}}</section>
    {% endif %}
      <a class="objAnchor"
      {% if obj.BROWSE_TYPE == "Comic" %}
        href="{% url 'comic_read' pk=obj.pk %}"
      {% elif obj.BROWSE_TYPE == "Browse" %}
        href="{% url 'browse' group=child_group pk=obj.pk %}"
      {% elif obj.BROWSE_TYPE == "Folder" %}
        href="{% url 'folder' pk=obj.pk %}"
      {% endif %}
        >
        <img class="coverImage" src="{% static obj.cover_path %}"/>
        <section class="progressCover" style="width: {{obj.progress|floatformat:"2"}}%;">
        </section>
        {% with obj.header_name as header_name %}
        {% if header_name %}
        <section class="objNameHeader">{{ header_name }}</section>
        {% endif %}
        {% endwith %}
        {% with obj.display_name as display_name %}
        {% if display_name and display_name != "Main Imprint" %}
        <section class="objName">{{ obj.display_name }}</section>
        {% endif %}
        {% endwith %}
      </a>
      {% if obj.BROWSE_TYPE == "Folder" %}
        <form class="markRead" method="POST" action="{% url 'mark_read' browse_type='f' pk=obj.pk %}">
         {{ forms.mark_read }}
         <input type="hidden" name="root_path_id" value="{{obj.root_path_id}}" />
         <input type="submit" name="action" value="Mark" />
        {% csrf_token %}
        </form>
      {% elif obj.BROWSE_TYPE == "Browse" %}
        <form class="markRead" method="POST" action="{% url 'mark_read' browse_type=child_group pk=obj.pk %}">
         {{ forms.mark_read }}
         <input type="submit" name="action" value="Mark" />
        {% csrf_token %}
        </form>
      {% endif %}
      {% if obj.child_count %}
        <span class="comicCount">({{obj.child_count}})</span>
      {% endif %}
      {% if obj.BROWSE_TYPE == "Comic" %}
        <form class="markRead" method="POST" action="{% url 'mark_read' browse_type='c' pk=obj.pk %}">
            <input type="hidden" name="next_url" value="{{ forms.full_path }}" id="id_next_url">
            <label for="read">Read</label>
            <input type="checkbox" name="read" value="Read" 
            {% if obj.finished %}
              checked
            {% endif %}
            />
         <input type="submit" name="action" value="Mark" />
        {% csrf_token %}
        </form>
 
        <a href="#metadata-{{obj.pk}}">M</a>
        <a href="#" id="metadata-{{obj.pk}}" class="cssbox_full"></a>
        <section class="cssbox_full_content metadata">
          <header class="objName">{{ obj.name }}</header>
          <img class="metadataCoverImage" src="{% static obj.cover_path %}"/>
          <section class="credits">
              {% for credit in obj.credits.all.distinct %}
              {{credit.person.name}}
              {% endfor %}
          </section> {# credits #}
          <section class="comicName">{{obj.display_name}}</section>
          <section class="date">
              {% if obj.year %}
              {{obj.year}}
                {% if obj.month %}
                  -{{obj.month}}
                  {% if obj.day %}
                    -{{obj.day}}
                  {% endif %}
                {% endif %}
              {% endif %}
          </section> {# date #}
          <section class="bindingInfo">
            {% if obj.format %}
            <span class="bookFormat">{{obj.format}}</span>
            {% endif %}
            <span class="pages">{{obj.page_count}} pages</span> 
            {% if not obj.read_ltr %}
            <span class="rtl">&nbsp;Right to Left</span>
            {% endif %}
            <span class="size">{{obj.size|filesizeformat}}</span>
            </section>
            <section class="locale">
            {% if obj.country %}
            <span class="country">{{obj.country}}</span>
            {% endif %}
            {% if obj.language %}
            <span class="language">{{obj.language}}</span>
            {% endif %}
          </section> {# bindingInfo #}
          <a class="webLink" href="{{obj.web}}">Web Link</a> 
          {% if obj.user_rating or obj.critical_rating or obj.maturity_rating %}
            <table class="ratings">
              <tbody>
                {% if obj.user_rating %}
                  <tr class="userRating"><td>User Rating</td><td>{{obj.user_rating}}</td></tr>
                {% endif %}
                {% if obj.critical_rating %}
                  <tr class="criticalRating"><td>Critical Rating</td><td>{{obj.critical_rating}}</td></tr>
                {% endif %}
                {% if obj.maturity_rating %}
                  <tr class="maturityRating"><td>Maturity Rating</td><td>{{obj.maturity_rating}}</td></tr>
                {% endif %}
              </tbody>
            </table>
          {% endif %}
          {% if obj.genres.all %}
            <section class="genres">
            Genres:
            {% for genre in obj.genres.all %}
            <span class="genre">{{genre.name}}</span>
            {% endfor %}
            </section> {# genres #}
          {% endif %}
          {% if obj.tags.all %}
            <section class="tags"> 
            Tags:
            {% for tag in obj.tags.all %}
            <span class="tag">{{tag.name}}</span>
            {% endfor %}
            </section> {# tags #}
          {% endif %}
          {% if obj.teams.all %}
            <section class="teams"> 
            Teams:
            {% for team in obj.teams.all %}
            <span class="team">{{team.name}}</span>
            {% endfor %}
            </section> {# teams #}
          {% endif %}
          {% if obj.characters.all %}
            <section class="characters"> 
            Characters:
            {% for character in obj.characters.all %}
            <span class="character">{{character.name}}</span>
            {% endfor %}
            </section> {# characters #}
          {% endif %}
          {% if obj.locations.all %}
            <section class="locations"> 
            Locations:
            {% for location in obj.locations.all %}
            <span class="location">{{location.name}}</span>
            {% endfor %}
            </section> {# locations #}
          {% endif %}
          {% if obj.story_arcs.all %}
            <section class="story_arc"> 
            Story Arcs:
            {% for story_arc in obj.story_arcs.all %}
            <span class="story_arc">{{story_arc.name}}</span>
            {% endfor %}
            </section> {# story_arc #}
          {% endif %}
          {% if obj.series_groups.all %}
            <section class="series_groups"> 
            Series Groups:
            {% for series_group in obj.series_groups.all %}
            <span class="series_group">{{series_group.name}}</span>
            {% endfor %}
            </section> {# series_group #}
          {% endif %}
          <section class="inProgress">
          {% if obj.bookmark %}
            In progress at page {{obj.bookmark}}.
          {% endif %}
          {% if obj.finished %}
            Finished.
          {% endif %}
          </section>
          <section class="viewOptions">
              {% if obj.fit_to %}
                Fit to {{obj.fit_to|lower}}.
              {% endif %}
              {% if obj.two_pages %}
                Two page spread.
              {% endif %}
          </section>
          {% if obj.scan_info %}
          <section class="scanInfo">Scan: {{obj.scan_info}}</section>
          {% endif %}
          <section class="summary">
           {% if obj.summary %}
            <section class="comicRackSummary">
              {{obj.summary }}
            </section>
            {% endif %}
              {% if obj.description %}
            <section class="cometDescription">
              {{obj.description}}
            </section>
            {% endif %}
            {% if obj.%}
            <section class="notes">
              {{obj.notes}}
            </section>
            {% endif %}
          </section> {# sumary #}
          <footer>
            <a class="cssbox_close" href="#">&times;</a>

            <a class="downloadAnchor" href="{% url 'comic_download' pk=obj.pk %}">
                Download&nbsp;
                {% include "codex/download.svg" %}
            </a>
            <a class="read" href="{% url 'comic_read' pk=obj.pk %}">Read</a>
         </footer>
      </section> {# cssbox_full_content #}
        {% endif %}
    </article>
  {% endfor %}

</main>
  <nav id="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="currentPage">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
  </nav>
