{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    {# favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static '/icons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% webpack_static '/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% webpack_static '/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <title>Codex</title>
    <link
      rel="icon"
      type="image/png"
      href="{% webpack_static 'img/icons/favicon-32x32.png' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% webpack_static 'css/normalize.css' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% webpack_static 'css/global.css' %}"
    />
    {% render_bundle 'chunk-vendors' 'css' %}
    {% render_bundle 'app' 'css' %}
    {% render_bundle 'chunk-vendors' 'js' attrs='defer charset="utf-8"' %}
    {% render_bundle 'app' 'js' attrs='defer charset="utf-8"' %}
  </head>
  <body>
    <noscript>
      <strong
        >Sorry but Codex doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      >
    </noscript>
    <div id="App" />
  </body>
</html>
