{% load static %}
{# Apple #}
<link rel="apple-touch-icon"
      href="{% static 'img/logo-maskable-180.webp' %}"
      sizes="180x180"
      type="image/webp" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="Codex" />
<meta name="apple-mobile-web-app-status-bar-style" content="#2A2A2A" />
{# Chrome #}
<link rel="manifest"
      href="{% url 'pwa:manifest' %}"
      crossorigin="use-credentials" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Codex" />
<meta name="theme-color" content="#2A2A2A" />
<script async src="{% url 'pwa:serviceworker_register' %}"></script>
