{% load static %}
{# Path to manifest #}
<link rel="manifest"
      href="{{ script_prefix }}manifest.webmanifest"
      crossorigin="use-credentials"/>
{# Add to homescreen for Safari on iOS #}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="Codex"/>
{# <meta name="apple-mobile-web-app-status-bar-style" content="default" /> #}
{# Add to homescreen for Chrome on Android #}
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Codex" />
{# <meta name="theme-color" content="#cc7b19"/> #}
{# service worker #}
<script async src="{{ script_prefix }}serviceworkerRegister.js"></script>
