.caps {
  font-variant-caps: small-caps;
}
/* Dirty hack for django admin's refusal to display non-editable fields */
.field-last_poll .vDateField,
.field-last_poll .vTimeField {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.field-last_poll .datetimeshortcuts {
  display: none;
}

#deprecatedWarning {
  display: block;
  padding: 1em;
  margin-bottom: 1rem;
  background-color: #500000;
}

#deprecatedWarning a {
  color: #f5dd5d; /* --accent */
}

#footer {
  padding: 0px 20px;
  color: #aaa;
}
#footer > h1 {
  margin-top: 1.5em;
}
#footer > h1:nth-child(1) {
  margin-top: 0em;
}

#footer > h2 {
  color: #ccc;
}

/* Queue Jobs */
table.queueJobs {
}
table.queueJobs th {
  background-color: #242424;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 10px;
}
table.queueJobs td {
  padding-left: 0.25em;
  padding-right: 0px;
}
table.queueJobs td:nth-child(3) {
  color: darkgray;
}
#queueJobButton {
  margin-top: 20px;
}
