/* Dirty hack for django admin's refusal to display non-editable fields */
.field-last_poll .vDateField,
.field-last_poll .vTimeField {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.field-last_poll .datetimeshortcuts {
  display: none;
}
#footer {
  padding: 0px 40px;
}
#footer > h1 {
  margin-top: 1.5em;
}
#footer > h1:nth-child(1) {
  margin-top: 0em;
}
